/* import para las funtes de MatchFlip */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "tailwindcss";


/*CLASES PARA LAS CARTAS QUE NO ESTAN EN TAILWINDCSS*/
/* tailwind.css o global.css */
.backface-hidden {
  backface-visibility: hidden;
}
.preserve-3d {
  transform-style: preserve-3d;
}
.rotate-y-180 {
  transform: rotateY(180deg);
}

/* Estilos para las diferentes capas */
/* Normal Theme */
.theme-normal{
    --bg: #f8fafc;
    --card: #ffffff;
    --text: #0f172a;
    --muted: #64748b;
    --accent: #2563eb;
    --border: #e2e8f0;

    --success: #16a34a;
    --danger: #dc2626;

    --radius-card: 0.75rem;
    --shadow-card: 0 8px 20px rgba(0, 0, 0, 0.08);
}

/* CodeTheme */
.theme-code{
    --bg: #020617;
    --card: #020617;
    --text: #38bdf8;
    --muted: #64748b;
    --accent: #22d3ee;
    --border: #1e293b;

    --success: #22c55e;
    --danger: #f43f5e;

    --radius-card: 0.375rem;
    --shadow-card: 0 0 0 rgba(0, 0, 0, 0);
}