/* import para las funtes de MatchFlip */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "tailwindcss";


/*CLASES PARA LAS CARTAS QUE NO ESTAN EN TAILWINDCSS*/
/* tailwind.css o global.css */
.backface-hidden {
  backface-visibility: hidden;
}
.preserve-3d {
  transform-style: preserve-3d;
}
.rotate-y-180 {
  transform: rotateY(180deg);
}
